/*Login/Sign Up Form*/
#tableHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-inline: 0%;
    margin-bottom: 0%;
    background-color: #8C2F39;
    text-align: center;
    border-radius: 20px;
    padding-block: 2.5%;
}

.signupform table{
    width: 100%;
    text-align: center;
}

.signupform{
    font-size: larger;
    text-align: center;
    background-color: antiquewhite;
    margin-top: 10%;
    margin-inline: 15%;
    padding-top: 0%;
    padding-inline: 0%;
    border-radius: 20px;

}

.signupform input{
    text-align: center;
    margin-top: 0%;
    padding-inline: 10px;
    border-radius: 10px;
    border: 0px;
    width: 70%;
    padding: 10px;
}

.signupform tr,td{
    padding: 1.5%;
}

/* BUTTON */
#signup{
    font-size: larger;
    background-color: #8C2F39;
    border: #8C2F39;
}

#signup:hover{
    background-color: #b23848;
}

#gen-info{
    color: gray;
    margin-bottom: 1%;
}

/*Navigation Bar Section*/
.navbar-header ul{
    background-color: #8C2F39;
    list-style-type: none;
    margin: 0%;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0%;
}
  
.navbar-header li {
    float: right;
}
  
.navbar-header li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border: antiquewhite;
    border-radius: 20px;
    margin-inline: 20px;
}

.navbar-header li a:hover {
    background-color: #b23848;
    transition: background-color 0.3s ease;
}

#brandname{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    margin: 0%;
    padding: 0%;
}

/* Tutors Page */

.search_section{
    text-align: center;
    margin-top: 130px;
}

.search_section button{
    color: antiquewhite;
    background-color: #8C2F39;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
}

.search_section button:hover{
    background-color: #b23848;
}

.search_section input{
    background-color: antiquewhite;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    margin: 0.3%;
    width: 40%;
}



