
button{
    background-color: #8C2F39;
    border-color: #b23848;
}

/* CSS styles */
/* Header Section */
header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: #8C2F39;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: antiquewhite;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #b23848;
}

.user-auth button{
    background-color: antiquewhite;
    color: #8C2F39;
    border-color: antiquewhite
}

.user-auth button:active{
    background-color: #8C2F39;
    border: #8C2F39;
    transform: translateY(4px);
}

.user-auth button:hover{
    background-color: #FFAF91;
    border: antiquewhite;
}

.user-auth form {
    display:inline-block;
    margin-left: 10px;
}

/*end of Header section*/

/* Welcome Section */
.section1 {
    min-height: 100vh; 
    padding-top: 100px; 
    background-image: url(section1.display.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding-bottom: 20px; 
}

.section1 .welcome-content {
    width: 40%;
    margin-left: 50px;
    margin-top: 5%;
    margin-bottom: 30%;
    font-size: larger;
}

.section1 .welcome-heading {
    border-bottom: 5px solid maroon; 
    padding-bottom: 10px; 
}

.section1 h1{
    border-style: solid;
}

.introduction {
    margin-top: auto;
    width: 100%;
    margin: auto;
}

.section1 .introduction p{
    line-height: 1.25;
    text-align: justify;
    font-size: large;
    line-height: 190%;
    padding-inline: 10%;
    padding-block: 14%;
}
/*end of Section 1*/

/* Top Courses Section */
.section2 {
    display: flex; 
    flex-direction: column;
    overflow-x: auto;
    min-height: 100vh; 
    padding: 50px 20px; 
    align-items:  center; 
    background-color: #FF9377; 
}

.popular-courses {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
}

.popular-courses h2{
    position: static;
}

/* Style for individual course */
.course {
    flex: 0 0 auto; 
    width: calc(33.33% - 20px);
    padding: 15px;
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    box-sizing: border-box; 
    margin-left: 0;
}

.course h3 {
    margin-top: 0; 
}

.course p {
    margin-bottom: 0;
}

.course a {
    display: inline-block; 
}
/*end of Section 2*/

/* Top Tutors Section */
.section3 {
    min-height: 100vh;
    background-color: #dcdcdc;
    padding: 50px 20px;
    text-align: center;
    background-color: #FB785E;
}

.tutor-list {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto;
    padding: 20px 0;
}

.tutor {
    flex: 0 0 auto;
    width: calc(33.33% - 20px); 
    margin-right: 20px; 
}
/*End of Section 3*/

/* Footer Section */
footer {
    background-color: #8C2F39;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
}
.contact-info a {
    color: antiquewhite;
    text-decoration: none;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul li a {
    color: antiquewhite;
    text-decoration: none;
}
/*End of Footer*/

#brandname{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    margin: 0%;
    padding: 0%;
}

/* Tutors Page */
.search_section{
    margin-top: 5%;
    margin-bottom: 0%;
    position: sticky;
    width: 100%;
    text-align: center;
}

.search_section button{
    color: antiquewhite;
    background-color: #8C2F39;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.search_section button:hover{
    background-color: #b23848;
}

.search_section input{
    background-color: antiquewhite;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 1%;
    margin-right: 5px;
    width: 40%;
    box-shadow: 0 9px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.search_section input:focus{
    box-shadow: 0 0 16px rgba(0,0,0,0.30), 0 0 0 rgba(0,0,0,0.22);
}

#searchCards{
    padding-top: 5%;
}

/*Post Page*/
.posts{
    background-color: #f0f0f0;
    width: 60%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2%;
    border-radius: 30px;
    padding-inline: 5%;
    padding-block: 1%;
    text-align: justify;
}

.posts:hover{
    background-color: #cacacaad;
}

.posts .coursetitle{
    color: #8C2F39;
    font-weight: bold;
}

.posts a{
    text-decoration: none;
    color: #111;
}

.posts h3{
    color: #8C2F39;
}

.posts p:last-child{
    color: gray;
}
.course_section{
    min-height: 100vh;
    overflow: hidden;
    padding-top: 8%;
    padding-bottom: 15%;;
}

#coursepage{
    padding-top: 15%;
}

.course{
    background-color: #FFAF91;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
    text-align: justify;
    padding-inline: 5%;
    padding-block: 2%;
}

.course h2{
    text-align: center;
    color: #8C2F39;
}

.course p{
    line-height: 30px;
}

.course a{
    background-color: #8C2F39;
    border-color: #8C2F39;
}

.course a:hover{
    background-color: #b23848;
    border-color: #b23848;
}

#addpost-btn{
    background-color: #8C2F39;
    border: #8C2F39;
    align-self: end;
}

#addpost-btn:hover{
    background-color: #b23848;
}

#searchResults{
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    padding-bottom: 20px;
}

.searchResults{
    text-align: left;
}

.searchResults ul{
    background-color: antiquewhite;
    list-style-type: none;
    padding-left: 0%;
    margin: auto;
    width: 45%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.searchResults li{
    text-align: justify;
    padding-left: 5%;
}

.searchResults li:hover{
    background-color: rgb(221, 197, 166);
}

.mainbody{
    background-color: #ccc;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-inline: auto;
    width: 60%;
    text-align: center;
    border-radius: 30px;
    padding-bottom: 50px;
}

.mainbody h2{
    color: #8C2F39;
    font-size: larger;
    margin-top: 5%;
}

.mainbody button{
    display: flex;  
    margin: auto;
    background-color: #8C2F39;
    border: #8C2F39;
}

.mainbody button:hover{
    background-color: #b23848;
}

.mainbody textarea{
    width: 90%;
    height: 300px;
    border-radius: 30px;
    padding: 20px;
}

.comments{
    margin: auto;
    width: 50%;
}

/*Course Page*/
.coursepage-mb{
    background-color: #dcdcdc83;
    margin-inline:auto;
    width: 100%;
    padding: 5%;
}

.coursepage-mb h2{
    color: #b23848;
    font-weight: bold;
}

#addpost{
    background-color: #8C2F39;
    border: #8C2F39;
    position: relative;
    left: 120%;
    margin-top: 20%;
    margin-bottom: 50%;
}

#addpost:hover{
    background-color: #b23848;
    border-color: #b23848;
}

.welcome-content-user{
    font-size: larger;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.welcome-content h1{
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    padding: 5%;
    margin-bottom: 10%;
}



.accountdetails{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #b23848;
    padding-inline: 10%;
    padding-block: 2.5%;
    border-radius: 30px;
    line-height: 200%;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.accountdetails h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.aboutus{
    text-align: justify;
    padding-inline: 5%;
    width: 100%;
    padding-bottom: 5%;
}

.aboutus h1{
    text-transform: uppercase;
    color: #8C2F39;
    border-style: none;
    text-align: center;
    padding-top: 5%;
}

.aboutus p:first-of-type{
    text-align: center;
    padding-bottom: 2%;
}